In [1]:
import pandas as pd
import spacy

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r"C:\Users\DELL\Desktop\Taiyo\world_bank_preprocessed.csv")

In [3]:
df_ner = df[["Project Name", "Project Development Objective "]]

In [4]:
nlp = spacy.load("en_core_web_sm")

In [5]:
def extract_entities(text):
    doc = nlp(text)
    entities = [(ent.text, ent.label_) for ent in doc.ents]
    return entities

In [6]:
df_ner["Extracted Entities (Project Name)"] = ""

for i, row in df.iterrows():
    project_name = row["Project Name"]
    entities = extract_entities(project_name)
    df_ner.at[i, "Extracted Entities (Project Name)"] = entities

In [7]:
df_ner.head()

,Project Name,Project Development Objective,Extracted Entities (Project Name)
0,Power and Irrigation Project,Objective to be Determined.,[]
1,Agricultural Machinery Project,Objective to be Determined.,"[(Agricultural Machinery Project, ORG)]"
2,Electric Power Development Project,Objective to be Determined.,"[(Electric Power Development Project, ORG)]"
3,Electric Power Development Project,Objective to be Determined.,"[(Electric Power Development Project, ORG)]"
4,Power and Telephone Project,Objective to be Determined.,"[(Telephone Project, ORG)]"

In [8]:
df_ner["Extracted Entities (Project Development Objective)"] = ""

for i, row in df.iterrows():
    project_name = row["Project Development Objective "]
    entities = extract_entities(project_name)
    df_ner.at[i, "Extracted Entities (Project Development Objective)"] = entities

In [9]:
result = df_ner[["Extracted Entities (Project Name)", "Extracted Entities (Project Development Objective)"]]

In [10]:
result.head()

,Extracted Entities (Project Name),Extracted Entities (Project Development Objective)
0,[],"[(Determined, ORG)]"
1,"[(Agricultural Machinery Project, ORG)]","[(Determined, ORG)]"
2,"[(Electric Power Development Project, ORG)]","[(Determined, ORG)]"
3,"[(Electric Power Development Project, ORG)]","[(Determined, ORG)]"
4,"[(Telephone Project, ORG)]","[(Determined, ORG)]"